{
  "parser": "@babel/eslint-parser",
  "extends": ["plugin:prettier/recommended", "airbnb", "prettier", "eslint:recommended", "plugin:jsx-a11y/recommended"],
  "rules": {
    "jsx-a11y/alt-text": "warn",
    "jsx-a11y/aria-role": "warn",
    "newline-before-return": "error",
    "react/jsx-wrap-multilines": [
      "error", 
      { 
        "declaration": "parens-new-line",
        "assignment": "parens",
        "return": "parens-new-line",
        "arrow": "parens",
        "condition": "parens-new-line",
        "logical": "parens",
        "prop": "parens-new-line"
      }
    ],
    "max-len": [
      "warn",
      {
        "code": 80,
        "tabWidth": 2,
        "comments": 1000,
        "ignoreComments": true,
        "ignoreTrailingComments": true,
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreRegExpLiterals": true,
        "eslint.autoFixOnSave": true
      }
    ],
    "prettier/prettier": "error",
    "semi": ["error", "always"],
    "quotes": ["error", "single"]
  },
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "plugins": ["prettier", "jsx-a11y"],
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {
        "project": ["./tsconfig.json"]
      }
    }
  }
}
