{
  "parser": "@babel/eslint-parser",
  "extends": ["plugin:prettier/recommended", "airbnb", "prettier", "eslint:recommended"],
  "rules": {
    "newline-before-return": "error",
    "max-len": [
      "warn",
      {
        "code": 80,
        "tabWidth": 2,
        "comments": 1000,
        "ignoreComments": true,
        "ignoreTrailingComments": true,
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreRegExpLiterals": true,
        "eslint.autoFixOnSave": true
      }
    ],
    "prettier/prettier": "error",
    "semi": ["error", "always"],
    "quotes": ["error", "single"]
  },
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "plugins": ["prettier"],
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {
        "project": ["./tsconfig.json"]
      }
    }
  }
}
