{
    "parser": "@babel/eslint-parser",
    "extends": ["plugin:prettier/recommended", "prettier", "eslint:recommended", "plugin:jsx-a11y/recommended"],
    "rules": {
        "jsx-a11y/alt-text": "warn",
        "jsx-a11y/aria-role": "warn",
        "newline-before-return": "error",
        "no-return-await": "warn",
        "no-undef": "off",
        "import/extensions": "off",
        "no-unused-vars": "off",
        "no-redeclare": "off",
        "eslint-disable-next-line prettier/prettie": "off",
        "jsx-a11y/click-events-have-key-events": "off",
        "eslint-disable-next-line": "off",
        "max-len": [
            "warn",
            {
                "code": 80,
                "tabWidth": 4,
                "comments": 1000,
                "ignoreComments": true,
                "ignoreTrailingComments": true,
                "ignoreUrls": true,
                "ignoreStrings": true,
                "ignoreTemplateLiterals": true,
                "ignoreRegExpLiterals": true
            }
        ],
        "prettier/prettier": "warn",
        "semi": ["error", "always"],
        "quotes": ["error", "single"]
    },
    "parserOptions": {
    "ecmaVersion": 2020
    },
    "plugins": ["prettier", "jsx-a11y"],
    "env": {
        "es6": true,
        "node": true,
        "browser": true
    },
    "settings": {
        "import/parsers": {
            "@typescript-eslint/parser": [".ts", ".tsx"]
        },
        "import/resolver": {
            "typescript": {
                "project": ["./tsconfig.json"]
            }
        }
    }
}
