@import "../../styles/variables";

.tags {
  grid-area: tags;

  .title {
    color: $darkGreyColor;
    font-weight: 300;
  }

  .tagItem {
    font-size: .8rem;
    color: $lightGreyColor;
    border: 1px solid $lightGreyColor;
    border-radius: 10rem;
    padding: .4rem .5rem;
    margin: 0 .5rem .5rem 0;
    transition: .2s all ease;

    &:active,
    &:focus,
    &:hover {
      color: $greyColor;
      border: 1px solid $greyColor;
    }
  }
}

.container {
  background-color: rgba(0, 0, 0, .1);
  border-radius: .2rem;
  padding: 0 1.5vh 2vh 1.5vh;
  height: fit-content;

  .bgColor {
    display: inline-flex;
    flex-wrap: wrap;
    color: $whiteColor;
    background-color: $greyColor;
    border: 1px solid $greyColor;
    transition: .5s all ease;
  
    &:active,
    &:focus,
    &:hover {
      color: $whiteColor;
      background-color: $darkGreyColor;
    }
  } 
}

@media (max-width: 768px) {
  .tags {
    .title {
      margin: 1.1vh 0;
    }
  }

  .container {
    padding: 0 1.2vh 1vh 1.2vh;
  }
}
