@import './_variables.scss';
@import './normalize.scss';

html {
  font-size: 14px;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.feedContainer {
  max-width: 1140px;
  margin: auto;
  padding: 0 20px;
  display: grid;
  grid-template: 
    "feedToggle tags" 0px
    "feedList tags";
  grid-template-columns: 75% 1fr;
  grid-gap: 2.5rem;
}

.errorMessage {
  position: absolute;
  top: 10px;
  right: 25px;
  z-index: 5;
  display: block;
  width: 200px;
  padding: 10px;
  color: black;
  border: red solid 1px;
  border-radius: .2rem;
  background-color: indianred;
  animation-name: popUpNotification;
  animation-duration: 1s;
  animation-timing-function: linear;
}

@keyframes popUpNotification {
  from {
    top: -70px;
  }
  to {
    top: 10px;
  }
}

@media (max-width: 768px) {
  .feedContainer {
    grid-template: 
      "tags"
      "feedToggle"
      "feedList";
    grid-template-columns: 100% 1fr;
    grid-gap: 1rem;
  }
}
