@import './_variables.scss';
@import './normalize.scss';

html {
  font-size: 16px;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.feedContainer {
  max-width: 1140px;
  margin: auto;
  display: grid;
  grid-template-areas: "feedList tags";
  grid-template-rows: 200px 1fr 30px;
  grid-template-columns: 75% 1fr;
  grid-gap: 2.5rem;
}
