@import './_variables.scss';
@import './normalize.scss';

html {
  font-size: 14px;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.feedContainer {
  max-width: 1140px;
  margin: auto;
  padding: 0 20px;
  display: grid;
  grid-template: 
    "feedToggle tags" 0px
    "feedList tags" 105% / 1fr 30px;
  grid-template-columns: 75% 1fr;
  grid-gap: 2.5rem;
}
