@import "../../styles/variables";

.feedItem {
  padding: 1.5rem 0;
  border-bottom: 1px solid $lightGreyColor;

  .info {
    color: $greyColor;
    opacity: .9;
    transition: .4s all ease;

    .title {
      color: $darkGreyColor;
      margin-bottom: 0;
    }

    .desc {
      margin-top: 0;
    }

    &:hover,
    &:active,
    &:focus {
      opacity: 1;
      color: black;
    }
  }

  .btnLike {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    border-radius: 0.2rem;
    border: 1px solid $lightGreenColor;
    transition: .3s all ease;
    cursor: pointer;

    &:hover {
      color: $whiteColor;
      background-color: $lightGreenColor;
    }

    &:focus,
    &:active {
      border: 2px solid $lightGreenColor;
    }
  }

  .greenButton {
    color: $whiteColor;
    background-color: $lightGreenColor;
  }

  .transparentButton {
    color: $lightGreenColor;
    background-color: transparent;
  }
}

.flex {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

@media (max-width: 768px) {

  .feedItem {
    padding: .8rem 0;
  }

  .mobileBlock {
    display: block;
  }

  .readMore {
    display: block;
    margin-bottom: 10px;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }
}

