@import '../../styles/_variables';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1140px;
  margin: auto;
  padding: 0 20px;

  .logo {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: lowercase;
    color: $lightGreenColor;

    .icon {
      height: 18px;
      padding-right: 5px;
    }
  }
}

@media (max-width: 768px) {
  .header {
    padding: .8rem 0;
    position: fixed;
    top: 0;
    background-color: #fff;
    width: 100%;
    z-index: 2;
    border-bottom: 1px solid $lightGreenColor;
  }
}
