@import '../../styles/_variables';

.list {
  display: flex;
  margin: 0;

  .item {
    color: $greyColor;
    text-decoration: none;
    font-size: 1rem;
    transition: 0.5s all linear;
    padding: .8rem .5rem .5rem .5rem;
    background-color: transparent;
    border-bottom: 5px solid transparent;
  }
}

svg {
  margin-right: .5rem;
  transition: 0.5s all ease;
}

.item:hover,
.item:focus,
.item:active {
  color: $darkGreyColor;
  border-color: $lightGreenColor;

    svg {
      color: $lightGreenColor;
    }
}
