@import '../../styles/_variables.scss';

@mixin activeTab {
  border-bottom: 2px solid $lightGreenColor;
}

.feedToggle {
  grid-area: feedToggle;
  height: 39px;
  border-bottom: 1px solid $lightGreyColor;

  @media (max-width: 768px) {
    padding-bottom: 0;
  }

  .toggleButton {
    color: $lightGreenColor;
    border: 0;
    background: transparent;
    padding: 0 1rem 1rem 1rem;
    text-transform: capitalize;

    &:hover,
    &:active,
    &:focus {
      @include activeTab()
    }
  }

  .active {
    @include activeTab()
  }
}
