.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: linear-gradient(#485563, #29323c);
  text-align: center;
  padding: 15px;
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, .4);
  font-size: 1.5rem;
  display: block;

  .link {
    color: #fff;

    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
    }
  }
}
